attrs
channels
channels_redis
daphne
django
django-chartjs
django-import-export
python-dotenv
docker
django-webpush
cycler
decorator
git-ext
matplotlib
networkx
numpy
olefile
Pillow
pyparsing 
python-dateutil
pytz
PyWavelets
scikit-image
scipy
six
tqdm
psycopg2