<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Room</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        
</head>
<body class="bg-dark">
    
        {% if message_list %}
        <div class="card bg-dark "  >
            <div class="d-flex flex-column mx-auto" id="chat-log" style="width: 50rem;">
                
                  
            {% for txt in message_list %}
                {% if txt.sender_id == request.user.id %}
                    <div class="d-flex justify-content-end  "><div class="w-50 bg-secondary rounded text-light " style="padding: .5em;">{{ txt.message}}</div></div>
                    <br>
                {% else %}
                    <div class="d-flex justify-content-start   "><div class="bg-primary w-50 rounded text-light  " style="padding: .5em;">{{ txt.message}}</div></div>
                    <br>
                {% endif %}
            {% endfor %}
            {% else %}
            <div class="d-flex justify-content-start   "><div class="bg-danger w-auto rounded text-light  " style="padding: .5em;">Type a text.</div></div>
            {% endif %}
            
            
            </div>
            <input id="chat-message-input" type="text" size="100">
            <input id="chat-message-submit" type="button" value="Send">
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script>
        const roomName = "{{room_name}}";

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if(data.sender == {{request.user.id}}) {
                document.querySelector('#chat-log').innerHTML +=  '<div class="d-flex justify-content-end  "><div class="w-50 bg-secondary rounded text-light " style="padding: .5em;">'+data.message+'</div></div><br>';
            }
            else {
                document.querySelector('#chat-log').innerHTML +=  '<div class="d-flex justify-content-start   "><div class="bg-primary w-50 rounded text-light  " style="padding: .5em;">'+data.message+'</div></div><br>';
        
            }
                


           };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if(message!=""){
                chatSocket.send(JSON.stringify({
                'message': message,
                'sender' : {{request.user.id}}
            }));
            }
            
        
            messageInputDom.value = '';
        };
    </script>
</body>
</html>