<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body style="background-image:url(/static/img/bg9.jpg);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">
              <img src="/static/img/cropped-Logo-les-cuisineries.png" alt="Les cuisineries" height="24">
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Calendrier</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/chat">Chat</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Profile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " href="/admin">Admin</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
    <div class="container">
    <div class="card text-center">
        <div class="card-header">
          Your Profile
        </div>
        <div class="card-body">
          <h5 class="card-title">{{request.user.first_name}}  {{request.user.last_name}}</h5>
          <p class="card-text">Mail: {{request.user.email}}</p>
          <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body bg-light">
                  <h5 class="card-title">Compétences</h5>
                    {% if competences_list %}
                    <ul class="list-group">
                    {% for comp in competences_list %}
                        <li class="list-group-item">{{ comp }}</li>
                    {% endfor %}
                    </ul>
                    {% else %}
                        <p>No competences are available.</p>
                    {% endif %}
                </div>
                </div>
              </div>
              <div class="col-sm-6 ">
                <div class="card  bg-light">
                  <div class="card-body">
                    <h5 class="card-title">Mes Attentes</h5>
                    <div class="card-body">{{request.user.attentes}}</div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p></p>
          <div class="row"> 
            <div class="col-sm-12 ">
                <div class="card ">
                  <div class="card-body bg-light">
                    <h5 class="card-title">Réunions de suivis</h5>
                      {% if reunion_id_list %}
                      
                      <dl class="row ">
                        {% for date in reunion_id_list %}
                        
                        <dt class="col-sm-5 "><h6 >Date de la réunion</h6></dt>
                        <dd class="col-sm-6 "><h6 >{{ date.date }}</h6></dd>
                        
                        <dt class="col-sm-5"><h6 >Contenu de la réunion</h6></dt>
                        <dd class="col-sm-6 "><h6>{{ date.contenu }}</h6></dd>
                        <p class="border-bottom"></p>
                        {% endfor %}
                      </dl>
                    
                      
                      {% else %}
                          <p>No competences are available.</p>
                      {% endif %}
                  </div>
                </div>
              </div>
          </div>
        </div>
        </div>
        </div>
          
    </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
  </html>