<!doctype html>
{% load static %}
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Statistiques</title>
    <link href="/static/css/calendar.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" href="/static/img/cropped-favicon-192x192.webp">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    {% include "site_cuisineries/navbar.html" %}
    <div class="container d-lg-flex " style="margin-top: 3rem;">
        <div class="col col-lg-1"></div>
        <div class="col col-lg-10">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="chart1"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="chart2"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="chart3"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="chart4"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-1"></div>
        {% csrf_token %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let request = new Request("/ajax/statistiques", {method: 'POST',
                                                        headers: {"X-CSRFToken": csrfTokenValue}})
            fetch(request)
                .then(response => response.json())
                .then(result => {
                    console.log(result)
                    data = []
                    labels = []
                    Object.entries(result.sociopro).forEach((key, value) => {
                        data.push(key[1].count)
                        labels.push(key[1].name)
                    });

                    var chart1 = new Chart("chart1", {
                        type: "doughnut",
                        options: {
                            responsive: true,
                            title: {
                                display: true,
                                text: 'Catégories socioprofessionnelles des adhérents'
                            },
                            legend:{
                                display:false
                            }
                        },
                        data: {
                            datasets: [{
                                data: data,
                                backgroundColor: ["#ea5545", "#f46a9b", "#ef9b20", "#edbf33", "#ede15b", "#bdcf32", "#87bc45", "#27aeef", "#b33dc6"]
                            }],
                            labels: labels
                        }
                    });

                    data = []
                    labels = []
                    result.competences.forEach(value => {
                        data.push(value.dcount)
                        labels.push(value.competences)
                    });

                    var chart2 = new Chart("chart2", {
                        type: "doughnut",
                        options: {
                            responsive: true,
                            title: {
                                display: true,
                                text: 'Compétences des adhérents'
                            },
                            legend:{
                                display:false
                            }
                        },
                        data: {
                            datasets: [{
                                data: data,
                                backgroundColor: ["#ea5545", "#f46a9b", "#ef9b20", "#edbf33", "#ede15b", "#bdcf32", "#87bc45", "#27aeef", "#b33dc6"]
                            }],
                            labels: labels
                        }
                    });
                    data = []
                    labels = []
                    result.attentes.forEach(value => {
                        data.push(value.dcount)
                        labels.push(value.attentes)
                    });

                    var chart3 = new Chart("chart3", {
                        type: "doughnut",
                        options: {
                            responsive: true,
                            title: {
                                display: true,
                                text: 'Attentes des adhérents'
                            },
                            legend:{
                                display:false
                            }
                        },
                        data: {
                            datasets: [{
                                data: data,
                                backgroundColor: ["#ea5545", "#f46a9b", "#ef9b20", "#edbf33", "#ede15b", "#bdcf32", "#87bc45", "#27aeef", "#b33dc6"]
                            }],
                            labels: labels
                        }
                    });
                    data = []
                    labels = []
                    result.contreparties.forEach(value => {
                        data.push(value.dcount)
                        labels.push(value.contrepartie__nom)
                    });

                    var chart4 = new Chart("chart4", {
                        type: "bar",
                        options: {
                            responsive: true,
                            title: {
                                display: true,
                                text: 'Choix des adhérents en contrepartie'
                            },
                            legend:{
                                display:false
                            },
                            scales: {
                                yAxes: [{
                                    display : true,
                                    ticks:{
                                        beginAtZero: true
                                    }
                                }]
                            }
                        },
                        data: {
                            datasets: [{
                                data: data,
                                backgroundColor: ["#ea5545", "#f46a9b", "#ef9b20", "#edbf33", "#ede15b", "#bdcf32", "#87bc45", "#27aeef", "#b33dc6"]
                            }],
                            labels: labels
                        }
                    });
                });
        });
        
        
    </script>

</body>

</html>