<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nouvel utilisateur - Les Cuisineries</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="icon" href="/static/img/cropped-favicon-192x192.webp">
</head>

<body style="background-color: #E7DBCB; min-height: 100vh; background-image: url(/static/img/Ronds_petits.png), url(/static/img/Ronds_moyens.png);
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
background-position-y: bottom; background-position-x: left, right;">
    {% include "site_cuisineries/navbar.html" %}
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 mb-3 mb-sm-0  text-center">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Création d'un compte</h5>
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div id="form_part1" class="row g-3" style="display: flex;">
                                    <div class="col-md-6">
                                        <div class="form-floating" id="firstnameDiv">
                                            <input type="text" class="form-control" id="firstname" name="firstname" required placeholder="Prénom">
                                            <label for="firstname">Prénom</label>
                                            <div class="invalid-feedback" id="firstnameError" style="display: none;">Insérez un prénom valide</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating" id="lastnameDiv">
                                            <input type="text" class="form-control" id="lastname" name="lastname" required placeholder="Nom">
                                            <label for="lastname">Nom</label>
                                            <div class="invalid-feedback" id="lastnameError" style="display: none;">Insérez un nom valide</div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12" id="roleDiv">
                                        <select class="form-select" id="role" name="role" onchange="updateRole(this.value)" required aria-label="Sélection du rôle">
                                            <option value="0" selected disabled>Sélectionnez le rôle</option>
                                            <option>Adhérent</option>
                                            <option>Référent</option>
                                            {% if user.groups.all.0.name == "Administrateur" %}
                                            <option>Administrateur</option>
                                            {% endif %}
                                        </select>
                                            <div class="invalid-feedback" id="roleError" style="display: none;">Sélectionnez un rôle</div>
                                    </div>
                                    
                                    <div class="col-12" id="referentDiv">
                                        <select class="form-select" name="referent" id="referent" disabled aria-label="Choix du référent">
                                            <option value="0" selected disabled>Sélectionnez le référent</option>
                                            {% for ref in referents %}
                                            <option value="{{ref.id}}">{{ref}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback" id="referentError" style="display: none;">Choisissez le référent</div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating" id="usernameDiv">
                                            <input type="text" class="form-control" id="username" name="username" required placeholder="Nom d'utilisateur">
                                            <label for="username">Nom d'utilisateur</label>
                                            <div class="invalid-feedback" id="usernameError" style="display: none;">Insérez un nom d'utilisateur valide</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating" id="emailDiv">
                                            <input type="email" class="form-control" id="email" name="email" required placeholder="Adresse mail">
                                            <label for="email">Adresse mail</label>
                                            <div class="invalid-feedback" id="emailError" style="display: none;">Insérez une adresse email valide</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating" id="telephoneDiv">
                                            <input type="phone" pattern="[0-9]{10}" class="form-control" id="telephone" name="telephone" placeholder="Téléphone">
                                            <label for="telephone">Numéro de téléphone</label>
                                            <div class="invalid-feedback" id="telephoneError" style="display: none;">Insérez un numéro de téléphone valide</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" onclick="validateForm1()" class="btn btn-primary">Suivant</button>
                                    </div>
                                </div>
                                <div id="form_part2" class="row g-3" style="display:none">
                                    <span></span>
                                    <div class="col-12" id="resultStep1">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="visually-hidden">Création du compte...</span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btn btn-primary" onclick="validateForm2()" id="buttonPart2" disabled>Création du compte...</button>
                                    </div>
                                </div>
                                <div id="form_part3" class="row g-3" style="display:none">
                                    <input type="hidden" name="id_newUser" id="id_newUser" value="0">
                                    <div class="col-12" style="position: relative;">
                                        <img id="photo" style="display: none;" width="90%" alt="L'image capturée sera affichée dans cette boîte.">
                                        <div id="resultStep3" style="display: none; position: absolute;height: 100%;width: 90%;top: 46%;left: 5%;">
                                            <div class="spinner-border text-primary" role="status">
                                                <span class="visually-hidden">Traitement de la photo...</span>
                                            </div>
                                        </div>
                                        <button type="button" id="valid_photo" class="btn btn-success" onclick="validatePicture()" style="display: none;">Valider</button>
                                    </div>
                                    <span></span>
                                    <div class="col-12">
                                        <input type="file" onchange="traiterImageUpload()" name="profil_picture" id="profil_picture" accept="image/png, image/jpeg" style="width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;">
                                        <label for="profil_picture" class="btn btn-outline-secondary">
                                            <span class="material-symbols-outlined" style="vertical-align: middle;">download</span>
                                            <span style="vertical-align: middle;">Importer une photo</span>
                                        </label>
                                    </div>
                                    <span></span>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
        <script src="/static/js/useradd.js"></script>
</body>

</html>