:root{
    /* Couleur de fond du header */
    --header-bg:#943c24;

    /* Couleur du texte du calendrier sur fond clair */
    --calendar-txt-color: var(--header-bg);

    /* Couleur du texte du calendrier sur fond sombre */
    --calendar-txt-color-dark: white;

    /* Contour et ombres du calendrier */
    --calendar-shadow: #c9c9c9;

    /* Couleur des vacations */
    --vacation-color: #f7b057;

    /* Couleur des réunions */
    --reunion-color: #e87333;

    /* Couleur du jour */
    --today-color: #e66b6b;
}




/**
 * Eric Meyer's Reset CSS v2.0+ (https://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */


 .elegant-calencar, .elegant-calencar *{
    box-sizing: initial !important;
 }

 body {
     font-size: 100%;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1.5;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-spacing: 5px;
 }
 .clearfix:before,
 .clearfix:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .clearfix:after {
     clear: both;
 }
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .clearfix {
     zoom: 1;
 }
 a, a:hover {
     text-decoration: none;
 }
 .img-responsive {
     max-width: 100%;
     height: auto;
 }
 
 body{
     font-family: Arial, Helvetica, sans-serif;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
 }
 
 .elegant-calencar {
    border-radius:15px;
     width: 25em;
     height: 22em;
     border: 1px solid var(--calendar-shadow);
     -webkit-box-shadow: 0 0 5px var(--calendar-shadow);
     box-shadow: 0 0 5px var(--calendar-shadow);
     text-align: center;
     margin: 4em auto;
     position: relative;
     max-width: fit-content;
 }
 
 #header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
     font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
     height: 3em;
     background-color: var(--header-bg);
     margin-bottom: 0.1em;
 }
 
 .pre-button, .next-button {
     margin-top: 0.5em;
     font-size: 2em;
     -webkit-transition: -webkit-transform 0.5s;
     transition: transform 0.5s;
     cursor: pointer;
     width: 1em;
     height: 1em;
     line-height: 1em;
     color: var(--calendar-txt-color-dark) ;
     border-radius: 50%;
 }
 
 .pre-button:hover, .next-button:hover {
     -webkit-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
     transform: rotate(360deg);
 }
 
 .pre-button:active,.next-button:active{
     -webkit-transform: scale(0.7);
     -ms-transform: scale(0.7);
     transform: scale(0.7);
 }
 
 .pre-button {
     float: left;
     margin-left: 0.2em;
 }
 
 .next-button {
     float: right;
     margin-right: 0.2em;
 }
 
 .head-info {
     float: left;
     width: 15em;
 }
 
 .head-day {
     display:inline-block;
     margin-top: 0.5em;
     font-size: 1.8em;
     line-height: 1;
     color: var(--calendar-txt-color-dark);
 }
 
 .head-month {
    display:inline-block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
     font-size: 1.8em;
     line-height: 1;
     color: var(--calendar-txt-color-dark);
 }
 
 #calendar {
    font-size:1.2em;
     width: 90%;
     margin: 0 auto;
 }
 
 #calendar tr {
     height: 2em;
     line-height: 2em;
 }
 
 thead tr {
     color: var(--calendar-txt-color);
     font-size:1.35em;
     font-weight: bolder;
     text-transform: uppercase;
 }
 
 tbody tr {
     color: #bb8170;
     font-weight: bold;
 }
 
 tbody td{
    color: var(--calendar-txt-color);

     width: 14%;
     border-radius: 100%;
     cursor: pointer;
     -webkit-transition:all 0.2s ease-in;
     transition:all 0.2s ease-in;
     
 }
 
 tbody td:hover, .selected {
     color: var(--calendar-txt-color-dark);
     background-color: var(--calendar-txt-color);
     border: none;
 }

 .vacation{
    background-color: var(--vacation-color);
    
 }

 .reunion{
    
    background-color: var(--reunion-color);
    
 }
 
 tbody td:active {
     -webkit-transform: scale(0.7);
     -ms-transform: scale(0.7);
     transform: scale(0.7);
 }
 
 #today {
     background-color: var(--today-color);
     color: var(--calendar-txt-color-dark);
     font-family: serif;
     border-radius: 50%;
 }
 
 #disabled {
     cursor: default;
     background: transparent;
 }
 
 #reset {
     display: block;
     position: absolute;
     right: 0.5em;
     top: 0.5em;
     z-index: 999;
     color: var(--calendar-txt-color-dark);
     font-family: serif;
     cursor: pointer;
     padding: 0 0.5em;
     height: 1.5em;
     border: 0.1em solid #fff;
     border-radius: 4px;
     -webkit-transition: all 0.3s ease;
     transition: all 0.3s ease;
 }
 
 #reset:hover {
     color: #e66b6b;
     border-color: #e66b6b;
 }
 
 #reset:active{
     -webkit-transform: scale(0.8);
     -ms-transform: scale(0.8);
     transform: scale(0.8);     
 }
 
 #events > a {
    text-decoration: none !important;
    color: initial !important;
 }

.calendrier-container {
    padding: 0 !important;
    overflow-x: hidden;
    border-radius:30px;
}


@media (max-width: 768px) {
    #events{
        position: relative !important;
        transform: translate(-25%,0)!important;
        top: 0!important;
    }
    .container > .row {
        display: block !important;
    }
}
@media (min-width: 538px) {
    #events > a > .card {
        width: 18rem;;
    }
}
@media (max-width: 538px) {
    #events{
        position: initial !important;
        transform: none !important;
    }
}
